.ba-categories {
    background-color:  #f2f1f1;
    padding: 46px 0;
    &__title {
        text-align: center;
        font-size: 30px;        
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin-bottom: 21px;
    }
}
.ba-categories-slider {
    margin-left: -12px;
    position: relative;
    &__next {
        position: absolute;
        top: 36%;
        right: -48px;
       transform: translateY(-50%);
        z-index: 10;
    }
    &__prev {
        position: absolute;
        top: 38%;
        left: -40px;
        transform: translateY(-50%);
        z-index: 10;
    }
    .slick-track {
        display: flex;
    }
}
.ba-dish {
    margin-left: 12px;
    text-align: center;
    height: auto;
    border-bottom: 2px solid transparent;
   &__link {
       display: flex;
       flex-direction: column;
       height: 100%;
   }
    &:hover {
        border-bottom: 2px solid #000;
        .ba-dish__image{
            &:after {
                opacity: 1;
            }
         
        }
    }
    &__image {
        position: relative;
        &:after {
            position: absolute;
            content:'';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(#000, 0.1);
            opacity: 0;
            transition: opacity .3s ease-in;
        }
    }
    & img {
        width: 100%;
    }
    &__title {
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 18px;
        font-size: 15px;
        font-weight: 400;
        padding: 11px 30px 9px;
        color: $black;
        text-align: center;
       flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
