.ba-menu {
    position: absolute;
    bottom: -1;
    left: 0;
    width: 100vw;
    background: #ffffff;
    padding: 29px 0 39px 84px;
    z-index: 3;
    display: none;
    border-top: 1px solid #c1c1c1;
}

.ba-menu-list {
    display: flex;
}

.drink-image {
    display: none;
    &.active {
        display: block;
    }
}

.drink-category {
    border-right: 1px solid #c1c1c1;
    padding-right: 18px;
    &__title {
        font-size: 15px;
        font-weight: 700;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__link {
        &.active {
            position: relative;
            background-color: rgba(0, 0, 0, 0.1);
            &:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 14px;
                top: 50%;
                background: url('../img/rightarrow.png') no-repeat;
                transform: translateY(-50%);
                right: 10px;
            }
        }
    }
    li {
        line-height: 29px;
        padding: 0;
        & a {
            font-size: 15px;
            font-weight: 700;
            padding: 0;
            padding-left: 8px;
            line-height: 29px;
            &:hover {
                background-color: transparent;
                color: $black;
            }
        }
    }
}

.drink-types {
    padding-left: 20px;
    border-right: 1px solid #c1c1c1;
    &__title {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 25px;
        text-transform: uppercase;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
            padding: 0;
            &.active {
                a {
                    text-decoration: underline;
                }
            }
            & a {
                color: #777777;
                font-size: 15px;
                font-weight: 300;
                padding: 0;
                line-height: 25px;
                text-transform: capitalize;
                &:hover {
                    background-color: transparent;
                    color: #777777;
                }
            }
        }
    }
    &--no-line {
        border: none;
        padding: 0 13px 0 13px;
    }
}

.drink-category-info {
    display: none;
    &.active {
        display: flex;
    }
}

.ba-menu-buttons {
    display: flex;
    padding-top: 28px;
    & .ba-button--all-food {
        margin-right: 17px;
        line-height: 50px;
        color: $white;
        padding: 0;
        text-align: center;
        &:hover {
            color: $white;
            background: #d6582a;
            
        }
    }
    & .ba-button--new {
        margin-right: 20px;
        margin-left: 20px;
        line-height: 50px;
        color: $white;
        padding: 0;
        text-align: center;
        background: transparent;
        border: 1px solid #c1c1c1;
        color: #000000;
        font-size: 15px;
        font-weight: 700;
        &:hover {
            color: $white;
            background: #f0632f;
          
        }
    }
    & .ba-button--sales {
        margin-right: 13px;
        margin-left: 13px;
        line-height: 50px;
        color: $white;
        padding: 0;
        text-align: center;
        background: transparent;
        border: 1px solid #c1c1c1;
        color: #000000;
        font-size: 15px;
        font-weight: 700;
        &:hover {
            color: $white;
            background:  #f0632f;
          
        }
    }
}