<section class="ba-categories">
    <div class="row column">
        <h2 class="ba-categories__title">
                parcourir par catégories
        </h2>
        <div class="ba-categories-slider">
                <button class="ba-categories-slider__prev">
                        <svg width="45" height="64">
                                <use xlink:href="#icon-cheveron-left"  />
                        </svg>
                       
                    </button>
                    <button class="ba-categories-slider__next">
                        <svg  width="45" height="64">
                                <use xlink:href="#icon-cheveron-right"  />
                        </svg>
                       
                    </button>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish1.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    À boire
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish2.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    viande <br> et poisson
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish3.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    produits laitiers
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish4.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    Boulangerie et pâtisserie
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish5.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    fruits <br>ET légumes
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish6.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    épicerie
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish7.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    sucreries
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                <a class="ba-dish__link" href="#">
             <div class="ba-dish__image">   <img src="assets/img/dish8.jpg" alt="dish"> </div>
                <h4 class="ba-dish__title">
                    cosmétiques
                </h4>
                </a>
            </article>
            <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish1.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        À boire
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish2.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        viande et poisson
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish3.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        produits laitiers
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish4.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        Boulangerie et pâtisserie
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish5.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        fruits ET légumes
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish6.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        épicerie
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish7.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        sucreries
                    </h4>
                    </a>
                </article>
                <article class="ba-dish">
                    <a class="ba-dish__link" href="#">
                 <div class="ba-dish__image">   <img src="assets/img/dish8.jpg" alt="dish"> </div>
                    <h4 class="ba-dish__title">
                        cosmétiques
                    </h4>
                    </a>
                </article>
             
        </div>
    </div>

</section>