<div class="ba-menu ">
    <div class="ba-menu-list">


        <div class="medium-3 drink-category">
            <h4 class="drink-category__title">
                TOUS LES PRODUITS À BOIRE
            </h4>
            <ul class="drink-category__list">
                <li class="drink-category__link active">
                    <a href="#panel1v">Boissons alcoolisées</a>
                </li>
                <li class="drink-category__link">
                    <a href="#panel2v">Boissons sans alcool</a>
                </li>
                <li class="drink-category__link">
                    <a href="#panel3v">Jus</a>
                </li>

            </ul>
        </div>
        <div class="medium-9">
            <div class="flex-container drink-category-info active" id="panel1v">
                <div class="medium-4 drink-types">
                    <h4 class="drink-types__title"> Vin </h4>
                    <ul class="drink-types__list">
                        <li class="ba-tab active">
                            <a href="#panel1vv" aria-selected="true">Vin blanc</a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel2vv"> Vin rouge</a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel3vv"> Vin rosé</a>
                        </li>
                    </ul>
                    <h4 class="drink-types__title"> Bière </h4>
                    <ul class="drink-types__list">
                        <li class="ba-tab">
                            <a href="#panel4vv"> Bière blanche</a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel5vv"> Bière rousse </a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel6vv"> Bière IPA</a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel7vv"> Bière noir</a>
                        </li>
                    </ul>


                </div>
                <div class="medium-4 drink-types drink-types--no-line">
                    <h4 class="drink-types__title"> Cidre </h4>
                    <ul class="drink-types__list">
                        <li class="ba-tab">
                            <a href="#panel4vv">Cidre rosé</a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel5vv"> Cidre blanc </a>
                        </li>
                    </ul>
                    <h4 class="drink-types__title"> Mousseaux</h4>
                    <ul class="drink-types__list">
                        <li class="ba-tab">
                            <a href="#panel4vv">Mousseau blanc</a>
                        </li>
                        <li class="ba-tab">
                            <a href="#panel5vv">Mousseau rosé </a>
                        </li>
                    </ul>
                    <h4 class="drink-types__title"> SPIRITUEUX</h4>
                </div>
                <div class="medium-4">
                    <div>
                        <div class="drink-image active " id="panel1vv">
                            <img src="assets/img/vine.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel2vv">
                            <img src="assets/img/dish2.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel3vv">
                            <img src="assets/img/dish3.jpg" alt="">
                        </div>
                        <div class="drink-image " id="panel4vv">
                            <img src="assets/img/dish4.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel5vv">
                            <img src="assets/img/dish5.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel6vv">
                            <img src="assets/img/dish6.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel7vv">
                            <img src="assets/img/dish6.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel8vv">
                            <img src="assets/img/dish6.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel9vv">
                            <img src="assets/img/dish6.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel10vv">
                            <img src="assets/img/dish6.jpg" alt="">
                        </div>
                        <div class="drink-image  " id="panel11vv">
                            <img src="assets/img/dish6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="drink-category-info" id="panel2v">
                <p> OTHER DRINK CATEGORY TAB</p>

            </div>
            <div class="drink-category-info" id="panel3v">

                <p> OTHER DRINK CATEGORY TAB</p>
            </div>

        </div>
    </div>
    <div class="ba-menu-buttons">
        <div class="medium-3 ">
            <a href="#" class="ba-button ba-button--all-food">
                    TOUS LES PRODUITS À BOIRE
            </a>
        </div>
        <div class="medium-3">
            <a href="#" class="ba-button ba-button--new">
                    Nouveautés
            </a>
        </div>
        <div class="medium-3">
            <a href="#" class="ba-button ba-button--sales">
                    soldes
            </a>
        </div>
    </div>
</div>