<div class="ba-header-top">
	<nav class="ba-top-nav">
		<ul class="dropdown menu" data-dropdown-menu>
			<li>
				<a href="#">
					<span> Vendre sur Marketable</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>S’inscrire</span>
				</a>
			</li>
			<li class="ba-top-nav__item">
				<a href="#">
					<span>Se connecter</span>
					<svg width="12" height="8">
						<use xlink:href="#menu-arrow" />
					</svg>
				</a>

				<ul class="menu">
					<li>
						<a href="#">
							<span>S’inscrire</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>S’inscrire</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>S’inscrire</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span>QC</span>
					<svg width="12" height="8">
						<use xlink:href="#menu-arrow" />
					</svg>
				</a>
				<ul class="menu">
					<li>
						<a href="#">
							<span>QC</span>

						</a>
					</li>
					<li>
						<a href="#">
							<span>QC</span>

						</a>
					</li>
					<li>
						<a href="#">
							<span>QC</span>

						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span>CAD</span>
					<svg width="12" height="8">
						<use xlink:href="#menu-arrow" />
					</svg>
				</a>
				<ul class="menu">
					<li>
						<a href="#">
							<span>USD</span>

						</a>
					</li>
					<li>
						<a href="#">
							<span>EUR</span>

						</a>
					</li>
					<li>
						<a href="#">
							<span>AUD</span>

						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span>EN</span>
					<svg width="12" height="8">
						<use xlink:href="#menu-arrow" />
					</svg>
				</a>
				<ul class="menu">
					<li>
						<a href="#">
							<span>FR</span>

						</a>
					</li>
					<li>
						<a href="#">
							<span>ESP</span>

						</a>
					</li>
					<li>
						<a href="#">
							<span>GER</span>

						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
<header class="ba-header">
<a href="#" class="ba-logo">
	<img src="assets/img/maturin.png" alt="logo">
</a>
<div class="ba-header__search">
		<input   type="search" placeholder="Rechercher...">
</div>
<button class="ba-header__list">
	<img src="assets/img/list.png" alt="list">
</button>
<button class="ba-header__cart">
	<img src="assets/img/panier1.png" alt="cart">
	<div class="ba-cart-quantity">
		99
	</div>
</button>


	
</header>
<nav class="ba-header-nav">

	<ul class="ba-header-nav__list">
		<li id="menu-drinks-dropdown-button">
			<a  href="#" class="is-active">
				<span>À boire</span>	
			</a>
			//=include drinks-menu.html
		</li>
		<li >
			<a href="#">
				<span>viande et poisson</span>	
			</a>
			
		</li>
		<li>
			<a href="#">
				<span>produits laitiers</span>	
			</a>
		</li>
		<li>
			<a href="#">
				<span>Boulangerie et pâtisserie</span>	
			</a>
		</li>
		<li>
			<a href="#">
				<span>fruits & légumes</span>	
			</a>
		</li>
		<li>
			<a href="#">
				<span>	épicerie</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>sucreries</span>	
			</a>
		</li>
		<li>
			<a href="#">
				<span>cosmétiques</span>	
			</a>
		</li>
		<li>
			<a href="#">
				<span>NOUVEAUTÉS</span>	
			</a>
		</li>
		<li>
			<a href="#">
				<span>Cadeaux</span>	
			</a>
		</li>
		<li>
			<a class="ba-soldes" href="#">
				<span>soldes</span>	
			</a>
		</li>
	</ul>
</nav>