<div class="ba-intro">
    <div class="ba-intro__info">
            <h2 class="ba-intro__title">
                    De notre market à votre assiette
            </h2>
            <h4  class="ba-intro__subtitle">
                    Des produits d’ici. À votre porte demain.
            </h4>
            <a href="#" class="ba-button ba-button--magaziner">Magaziner</a>
    </div>
   
    <div class="ba-market-wrap">
            <button class="ba-market-slider__prev">
                    <svg width="100%" height="100%">
                            <use xlink:href="#icon-cheveron-left"  />
                    </svg>
                   
                </button>
                <button class="ba-market-slider__next">
                    <svg  width="100%" height="100%">
                            <use xlink:href="#icon-cheveron-right"  />
                    </svg>
                   
                </button>
    <div class="ba-market-slider">
        
        <div class="ba-market-slider__item">
            <img src="assets/img/market.jpg" alt="market">
        </div>
        <div class="ba-market-slider__item">
            <img src="assets/img/market.jpg" alt="market">
        </div>
        <div class="ba-market-slider__item">
            <img src="assets/img/market.jpg" alt="market">
        </div>
    </div>
</div>
    <div class="ba-intro-info">
        <div class="ba-intro-info__region">
            <a class="ba-intro-info__link" href="#">

               <h3 class="ba-intro-info__title">Découvrez votre région </h3> 

                <h4  class="ba-intro-info__subtitle"><span>Laurentide, Québec</span> </h4>
            </a>
            <img src="assets/img/decouv.jpg" alt="decouv">
        </div>
        <div class="ba-intro-info__news">
            <a class="ba-intro-info__link ba-intro-info__link--alaune" href="#">
                   
                    <h3 class="ba-intro-info__title"> à la une</h3> 

                    <h4  class="ba-intro-info__subtitle"><span>Nouvelles/articles</span> </h4>
            </a>
            <img src="assets/img/alaune1.jpg" alt="decouv">
        </div>
    </div>
</div>