<section class="ba-products">
    <div class="row column">
        <h2 class="ba-products__title ba-title-with-line">
             <span> PRODUIT EN VEDETTE </span>   
        </h2>
        <div class="ba-products-slider">
                <button class="ba-products-slider__prev">
                        <svg width="45" height="64">
                                <use xlink:href="#icon-cheveron-left"  />
                        </svg>
                       
                    </button>
                    <button class="ba-products-slider__next">
                        <svg  width="45" height="64">
                                <use xlink:href="#icon-cheveron-right"  />
                        </svg>
                       
                    </button>
        //=include products/product1.html
        //=include products/product2.html
        //=include products/product3.html
        //=include products/product4.html
        //=include products/product1.html
        //=include products/product2.html
        //=include products/product3.html
        //=include products/product4.html
        </div>
    </div>

</section>