<section class="ba-sellers">
    <div class="row column">
    <h2 class="ba-sellers__title ba-title-with-line">
        <span>PRODUCTEUR DE LA SEMAINE</span>
    </h2>
    <div class="row ba-sellers-info">

        <div class="column medium-6">

            <div class="ba-sellers__photo">
                <img src="assets/img/client.jpg" alt="">
            </div>
        </div>
        <div class="column medium-6">
            <article class="ba-sellers-monteregie">
                <h4 class="ba-sellers-monteregie__title">
                    Cidrerie du Minot
                </h4>
                <h5 class="ba-sellers-monteregie__subtitle">
                    Montérégie
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
                    vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique.
                </p>
                <a href="#" class="ba-button ba-button--plus">
                    En savoir plus
                </a>
            </article>
        </div>

    </div>
    <div class="row">
        <div class="column medium-6">
            <article class="ba-sellers-instructions ba-sellers-instructions--left">
                <h3 class="ba-sellers-instructions__title">
                    Devenez client chez MaTURIN
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
                    vulputate commodo lectus, ac blandit elit tincidunt id.
                </p>
                <a href="ba-button-sellers">
                    S’inscrire »
                </a>
            </article>
        </div>
        <div class="column medium-6">
            <article class="ba-sellers-instructions">
                <h3 class="ba-sellers-instructions__title">
                    Comment vendre sur MaTURIN
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
                    vulputate commodo lectus, ac blandit elit tincidunt id.
                </p>
                <a href="ba-button-sellers">
                        En savoir plus »
                </a>
            </article>
        </div>
    </div>
</div>
</section>