<section>
    <div class="row">
        <div class="column medium-4 ">
            <div class="ba-services">
                <img src="assets/img/pig.png" alt="pig">
                <h3 class="ba-services__title">Des économies en argent et en temps</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
                    ac neque. Duis vulputate commodo.</p>
            </div>

        </div>
        <div class="column medium-4">
            <div class="ba-services ba-services--center">
                    <img src="assets/img/marker.png" alt="marker">
                <h3 class="ba-services__title">Encourager le local</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
                    ac neque. Duis vulputate commodo.</p>
            </div>

        </div>
        <div class="column medium-4">
            <div class="ba-services  ba-services--right">
                    <img src="assets/img/car.png" alt="car">
                <h3 class="ba-services__title">Livraison en moins de 48h</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
                    ac neque. Duis vulputate commodo.</p>
            </div>

        </div>
    </div>
</section>