<section class="ba-stories">
    <h2 class="ba-stories__title ba-title-with-line">
        <span>Nos clients nous disent...</span>
    </h2>
    <div class="row small-collapse">
        <div class="column medium-6">
            <div class="ba-stories-image">
                <img src="assets/img/duminot.png" alt="sticker">
                <img src="assets/img/bottlevine.jpg" alt="bottle">
            </div>
        </div>
        <div class="column medium-6">
            <article class="ba-stories-info">
                <h4 class="ba-stories-info__title">
                    Mousseau sans alcool Clos

                </h4>
                <h5 class="ba-stories-info__subtitle">
                    Cidrerie du Minot
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
                    ac neque.
                </p>
                <div class="ba-stories-info__author">
                    <div class="ba-author-image">
                        <img src="assets/img/tombernard.jpg" alt="tom">
                    </div>
                    <span>Tom Bernard, Mont-Saint-Hilaire</span>
                </div>
                <a href="#" class="ba-button ba-button--stories">
                    Voir tous les témoignages
                </a>
            </article>
        </div>
    </div>
    <div class="row column">

        <article class="ba-stories-instructions ">
            <h3 class="ba-stories-instructions__title">
                Qu’est-ce que MaTURIN
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
                vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
                mauris molestie elit, et lacinia ipsum quam nec dui.
            </p>
            <a href="ba-button-stories">
                En savoir plus »
            </a>

        </article>
        <div class="ba-subscribe ">
            <h3 class="ba-subscribe__title">
                    ABONNEZ-VOUS À NOTRE INFOLETTRE
            </h3>
            <p>
                    Recevez les suggestions que nous préparerons pour vous ainsi que des idées-repas.
            </p>
            <form class="ba-subscribe-form" method="post" >
            <input type="email" placeholder="Entrez votre courriel">
            <button class="ba-button ba-button--submit" type="submit">M’inscrire</button>
        </form>
     
            <button class="ba-message-button">
                <img src="assets/img/message.png" alt="message">
            </button>
        
        </div>

    </div>
</section>