<article class="ba-products-card">
        <div class="ba-products-card__image">
                <div class="ba-products-card__links">
                        <a href="#" class="ba-button ba-button--view">Aperçu rapide</a>
                        <a href="#" class="ba-button ba-button--add-to-cart">AJOUTER AU PANIER</a>
                        <a class="ba-add-to-list">
                                <img src="assets/img/addlist.png" alt="add">
                        </a>
                </div>
                <img src="assets/img/product3.jpg" alt="product">
        </div>
        <h4 class="ba-products-card__title">
                Saumon sauvage
        </h4>
        <h5 class="ba-products-card__subtitle">
                Poissonnerie Gaspez'y
        </h5>
        <div class="ba-products-card__rating">
                <div class="ba-stars">
                        <img src="assets/img/stars.png" alt="stars">
                </div>
                <span> (27)</span>
        </div>
        <div class="ba-products-card__price">
                8,00/100 g CA$
        </div>
</article>